.team-section {
  max-width: 80%;
  margin: 0 auto;
}

.team-card {
  height: 22rem;
  /*box-shadow: rgba(170, 210, 230, 0.5) 0px 10px 20px -1px, rgba(170, 210, 230, 0.5) 0px 3px 5px -1px;*/
  box-shadow: rgba(0, 0, 0, 0.5) 2px 3px 4px 0px inset, rgba(0, 0, 0, 0.5) -2px -3px 4px 0px inset;
}

.team-social:hover {
  transform: scale(1.2);
  transition: transform 100ms linear;
}

.member-image {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
