.team-section {
  max-width: 80%;
  margin: 0 auto;
}

.team-card-main {
  width: 25%;
  margin: 3rem 0;
}
.team-card {
  height: 22rem;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 3px 4px 0px inset, rgba(0, 0, 0, 0.5) -2px -3px 4px 0px inset;
}

.team-social:hover {
  transform: scale(1.2);
  transition: transform 100ms linear;
}

.member-image {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (max-width: 1024px) {
  .team-section {
    max-width: 92%;
  }
  .team-card-main {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .team-section {
    max-width: 80%;
  }
  .team-card-main {
    width: 70%;
  }
  .team-card {
    height: 20rem;
  }
}

@media screen and (max-width: 480px) {
  .team-card-main {
    width: 100%;
  }
  .team-card {
    height: 20.5rem;
  }
}

@media screen and (max-width: 380px) {
  .team-section {
    max-width: 90%;
  }
  .team-card {
    height: 21.5rem;
  }
}
