@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
	max-width: 70%;
	margin: auto;
}

.pattern {
	background-image: url("topography.svg");
	background-position: center;
}

body {
	background-color: #080646;
}