@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

::selection {
  background: #ffde59;
  color: #000;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f1f3d;
  font-family: "Fira Sans", sans-serif;
}

button, a {
  -webkit-tap-highlight-color: transparent;
}

/* Page load sliding animation */
/*@keyframes slideInFromLeft {
  0% {
    transform: translateX(-60%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(60%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}*/

@keyframes slideInFromAbove {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* Hero Section */
.hero {
  position: relative;
  height: 100vh;
  background-image: url("./Components/HeroSection/heroBG.gif");
  background-size: cover;
  background-position: center;
  background-color: #001824;
}

.subHeroSection {
  max-width: 80%;
  margin: 0 auto;
}

.about-slider {
  width: 100%;
  margin: 0 auto;
}

/*ToTopButton*/
.float-button {
  position: fixed;
  bottom: 5%;
  right: 3%;
  text-align: center;
  font-size: 2.5rem;
  padding: 0.4rem;
  border-radius: 50%;
  background-color: white;
  color: black;
  z-index: 10;
}

/* Navigation */
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  background: transparent;
  z-index: 1;
  animation: slideInFromAbove 500ms ease-out 0s 1;
}

/* FAQ section */
.faq-section {
  max-width: 80%;
  margin: 0 auto;
}

.faq-title {
  text-align: center;
  font-size: 3rem;
}

.faq-title::after {
  content: "";
  display: block;
  height: 0.1rem;
  background-color: gray;
}

.faq-q::after {
  content: "";
  display: block;
  margin: 0.3rem 0.5rem;
  height: 0.05rem;
  background-color: lightgray;
}

/* Responsive Styling */
@media screen and (max-width: 1024px) {
  nav {
    position: fixed;
    background: #0f1f3d;
    box-shadow: 0px 8px 16px 0px rgba(72, 127, 255, 0.2),
      0px -8px 16px 0px rgba(72, 127, 255, 0.2);  
  }
  .hero {
    background-image: url("./Components/HeroSection/heroTab.gif");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .subHeroSection {
    max-width: 100%;
  }

  .about-slider {
    width: 85%;
  }
}

@media screen and (max-width: 480px) {
  nav {
    position: fixed;
    background: #0f1f3d;
    padding: 0 1rem;
    box-shadow: 0px 8px 16px 0px rgba(72, 127, 255, 0.2),
      0px -8px 16px 0px rgba(72, 127, 255, 0.2);  
  }

  .hero {
    background-image: url("./Components/HeroSection/heroMob.gif");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .faq-section {
    max-width: 100%;
  }
}
